/* Estilo Geral */
* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #030f26;
  color: #f2f2f2;
  width: 100%;
  height: 100%;
}

/* Estilo Cabeçalho */
.container {
  min-height: 100vh;
  width: 100%;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  padding: 20px 30px;
}

#logo {
  margin-right: auto;
  width: 300px;
  padding: 20px;
}

#select-languages {
  height: 2rem;
  width: 6rem;
  background-color: transparent;
  color: #f2f2f2;
}

#select-languages option {
  backdrop-filter: #f7f7f7;
  color: #030f26;
}

.story-card {
  min-width: 950px;
  height: 495px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.story-card-title {
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  padding: 40px;
}

.story-card-subtitle {
  font-weight: 400;
  font-size: 24px;
}

.form-container {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 150px;
}

.form-invitation {
  font-weight: 400;
  font-size: 18px;
}

.form-container-email {
  display: flex;
  justify-content: center;
  align-items: center;
}

#input-email {
  width: 450px;
  font-size: 20px;
  padding: 0.5rem 1rem;
}

.form-container-password {
  display: flex;
  justify-content: center;
  align-items: center;
}

#input-password {
  width: 450px;
  font-size: 20px;
  padding: 0.5rem 1rem;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.btn {
  width: 150px;
  height: 50px;
  border-style: none;
  border-radius: 6px;
  background-color: #d93250;
  color: #f2f2f2;
  font-size: 16px;
  transition: 0.5s;
}

.btn:hover {
  cursor: pointer;
  background-color: #732743;
  border: 2px solid #f2f2f2;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  gap: 1rem;
}

footer img {
  width: 10rem;
}
